body {
    
}
.principal{
background: #ccccc;
padding: 30%;
}
#banner{
    width: 100%;
}
h1 { 
    text-align: center;
}
p {
    text-align: center;
}
 #missao {
 font-size
 }
em strong {
   color: black;
}
 font-style